# phonepe pulse data visualization and exploration: a user-friendly tool using streamlit and plotly

In [3]:
import os
from os import walk
from pathlib import Path
import pandas as pd

In [4]:
Data_Aggregated_Transaction_Table = pd.DataFrame({}) 
Data_Aggregated_Transaction_Summary_Table = pd.DataFrame({})

In [5]:
def Aggregated_Transaction_Table_fun(state,year,quarter,path):
    global Data_Aggregated_Transaction_Table
    global Data_Aggregated_Transaction_Summary_Table
    dft = pd.read_json(path)
    
    dataFrom=dft['data']['from']
    dataTo=dft['data']['to'] 
    T_row={'State':state,'Year': year,'Quarter':quarter,'Data From':dataFrom,'Data To':dataTo}
    Data_Aggregated_Transaction_Summary_Table=Data_Aggregated_Transaction_Summary_Table.append(T_row,ignore_index = True)
    
    DAT_temp=dft['data']['transactionData']
    if DAT_temp:      
        for i in DAT_temp:
            DAT_row={ 'Payment Mode':i['name'], 'Total Transactions count':i['paymentInstruments'][0]['count'], 'Total Amount':i['paymentInstruments'][0]['amount'],'Quarter':quarter,'Year': year,'State':state}  
            Data_Aggregated_Transaction_Table = Data_Aggregated_Transaction_Table.append(DAT_row, ignore_index = True)
            
            
    # PATH FOR ALL STATES IN AGGREGATED TRANSACTIONS
t_s= r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\aggregated\transaction\country\india\state'
t_path = r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\aggregated\transaction\country\india\state'
t_states = os.listdir(t_path) # NAMES OF ALL DIRECTORIES IN STATES (36 STATES)

for i in t_states:                     # ITERATE ALL STATES
    #print(i)
    p=t_s+'\\'+i                       # PICK ONE STATE PATH
    states_year=os.listdir(p)          # PICK 2018 TO 2022 DIRECTORIES IN ONE STATE
    for j in states_year:              # ITERATE YEARS 2018 TO 2022
        #print(j)
        pt=p+'\\'+j                    # PICK ONE YEAR PATH
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)        # PICK ALL THE QFILES IN SELECTED YEAR 
            break
        for k in f:                    # ITERATE THROUGH QFILES 1.JSON TO 4.JSON
            fp=pt+'\\'+k               # PICK ONE QFILE PATH
            fn=Path(fp).stem           # NOTE DOWN QUARTER
            #print(i,j,fn)
            Aggregated_Transaction_Table_fun(i,j,fn,fp) # CALL FUNCTION WITH STATE,YEAR,QFILE,QUARTER
            #print(fp)

In [7]:
Data_Aggregated_Transaction_Table.to_csv('Data_Aggregated_Transaction_Table.csv', index=False)  
print(len(Data_Aggregated_Transaction_Table))
Data_Aggregated_Transaction_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []

In [8]:
Data_Aggregated_Transaction_Summary_Table.to_csv('Data_Aggregated_Transaction_Summary_Table.csv',index=False)  
print(len(Data_Aggregated_Transaction_Summary_Table))
Data_Aggregated_Transaction_Summary_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []

In [9]:
Data_Aggregated_User_Table = pd.DataFrame({}) 
Data_Aggregated_User_Summary_Table = pd.DataFrame({})

In [10]:
# INITIALIZATION
import os
from os import walk
from pathlib import Path
import pandas as pd

def Aggregated_User_Table_fun(state,year,quarter,path):
    global Data_Aggregated_User_Table
    global Data_Aggregated_User_Summary_Table
    dfu = pd.read_json(path)
    
    registeredUsers=dfu['data']['aggregated']['registeredUsers']
    appOpens=dfu['data']['aggregated']['appOpens']
    U_row={'State':state,'Year': year,'Quarter':quarter,'Registered Users':registeredUsers,'AppOpenings':appOpens}
    Data_Aggregated_User_Summary_Table= Data_Aggregated_User_Summary_Table.append(U_row, ignore_index = True )

    DAU_temp=dfu['data']['usersByDevice']
    if DAU_temp:  
        for i in DAU_temp:
            DAU_row={ 'Brand Name':i['brand'], 'Registered Users Count':i['count'], 'Percentage Share of Brand':i['percentage'],'Quarter':quarter,'Year': year,'State':state}  
            Data_Aggregated_User_Table = Data_Aggregated_User_Table.append(DAU_row, ignore_index = True)

    s= r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\aggregated\user\country\india\state'
path = r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\aggregated\user\country\india\state'
states = os.listdir(u_path)

for i in states:
    #print(i)
    p=s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)
            break
        for k in f:
            fp=pt+'\\'+k            
            fn=Path(fp).stem
            #print(i,j,fn)
            Aggregated_User_Table_fun(i,j,fn,fp)
            #print(fp)

In [11]:
Data_Aggregated_User_Table.to_csv('Data_Aggregated_User_Table.csv',index=False) 
print(len(Data_Aggregated_User_Table))
Data_Aggregated_User_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []

In [12]:
Data_Aggregated_User_Summary_Table.to_csv('Data_Aggregated_User_Summary_Table.csv',index=False) 
print(len(Data_Aggregated_User_Summary_Table))
Data_Aggregated_User_Summary_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []

In [13]:
Data_Map_Transaction_Table = pd.DataFrame({})

In [14]:
def Data_Map_Transaction_Table_Fun(state,year,quarter,path):
    global Data_Map_Transaction_Table
    dfmt = pd.read_json(path)
    DMT_temp=dfmt['data']['hoverDataList'] 
    if DMT_temp:
        for i in DMT_temp:
            DMT_row={ 'Place Name':i['name'], 'Total Transactions count':i['metric'][0]['count'], 'Total Amount':i['metric'][0]['amount'],'Quarter':quarter,'Year': year,'State':state}  
            Data_Map_Transaction_Table = Data_Map_Transaction_Table.append(DMT_row, ignore_index = True)  
            
   t_s= r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\map\transaction\hover\country\india\state'
t_path = r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\map\transaction\hover\country\india\state'
t_states = os.listdir(t_path) 

for i in t_states:
    #print(i)
    p=t_s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)
            break
        for k in f:
            fp=pt+'\\'+k            
            fn=Path(fp).stem
            #print(i,j,fn)
            Data_Map_Transaction_Table_Fun(i,j,fn,fp)
            #print(fp)

In [17]:
Data_Map_Transaction_Table.to_csv('Data_Map_Transaction_Table.csv',index=False) 
print(len(Data_Map_Transaction_Table))
Data_Map_Transaction_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []

In [18]:
Data_Map_User_Table = pd.DataFrame({})

In [19]:
def Data_Map_User_Table_Fun(state,year,quarter,path):
    global Data_Map_User_Table
    dfmu = pd.read_json(path)
    
    DMU_temp=dfmu['data']['hoverData'] 
    if DMU_temp:
        for i in DMU_temp:
            #print(i, DMU_temp[i]['registeredUsers'],DMU_temp[i]['appOpens'])
            DMU_row={ 'Place Name':i, 'Registered Users Count':DMU_temp[i]['registeredUsers'], 'App Openings':DMU_temp[i]['appOpens'],'Quarter':quarter,'Year': year,'State':state}  
            Data_Map_User_Table = Data_Map_User_Table.append(DMU_row, ignore_index = True)

   t_s= r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\map\user\hover\country\india\state'
t_path = r'C:\Users\91939\2MY_DATA_SCIENCE\12_My_DS_Tasks\project2_Phonepay\data\map\user\hover\country\india\state'
t_states = os.listdir(t_path) 

for i in t_states:
    #print(i)
    p=t_s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)
            break
        for k in f:
            fp=pt+'\\'+k            
            fn=Path(fp).stem
            #print(i,j,fn)
            Data_Map_User_Table_Fun(i,j,fn,fp)
            #print(fp)

In [20]:
Data_Map_User_Table.to_csv('Data_Map_User_Table.csv',index=False) 
print(len(Data_Map_User_Table))
Data_Map_User_Table.head(5)

0

Empty DataFrame
Columns: []
Index: []